{% load static %}
<!DOCTYPE html>
<html>
    <head>
        
        <title>Consulta de Pacientes</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width device-width, initial-scale=1.0">
        
        <link rel="stylesheet" href="{% static 'css/projetoAmigoCSS.css' %}" type="text/css"> 
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
            crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" 
            crossorigin="anonymous">

        <script src="{% static 'core/js/relogio.js' %}"></script>
        <script src="{% static 'core/js/aviso.js' %}"></script>
        <script src="{% static 'core/js/notificacoes.js' %}"></script>
        <script src="{% static 'core/js/usuarios_js/pesquisa_psicologos.js' %}"></script>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" 
    crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" 
    crossorigin="anonymous"></script>

    </head>
    <body>
        <div id="aviso" class="aviso"></div>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container">
                    <a class="navbar-brand" href="#">Logo</a>
                <span id="notificacoes">
                    <i class="fa fa-bell"></i>
                    <span class="num-notificacoes"></span>
                </span>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'home' %}">Voltar</a>
                        </li>
                    </ul>
                </div>
                    <div class="navbar-clock">
                        <span id="data"></span>
                        <span id="relogio"></span>
                    </div>
                </div>
            </nav>
        
            <div class="container mt-5">
                <form id="formPesquisa" method="GET">
                    <div class="input-group mb-3">
                        <input type="text" id="termoPesquisa" class="form-control" placeholder="Digite o primeiro nome">
                        <button type="button" onclick="enviarFormulario()" class="btn btn-primary">Pesquisar</button>
                    </div>
                </form>
                <div id="resultados">

                </div>
                <nav>
                    <ul class="pagination" id="pagination"></ul>
                </nav>
            </div>
    </body>
</html>
